div {
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

}

body>div {
    margin: auto;
}

/* Block  */
.btn {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    min-width: 120px;
    transition: opacity 0.2s ease;
}

.btn:hover {
    opacity: 0.8;
}

/* dấu cộng là css cho cái thằng sau nó */
.btn+.btn {
    margin-left: 16px;
}

.btn--success {
    background-color: green;
}

.btn--warn {
    background-color: yellow;
}

.btn--danger {
    background-color: red;
}


.btn--disabled {
    opacity: 0.5 !important;
    cursor: default;
}

.btn--size--s {
    padding: 8px 32px;
}

.btn--size--l {
    padding: 16px 100px;
}